html
{   
     font-family: 'Roboto', sans-serif;
}

header
{
    font-family:"shrikhand",cursive;
    text-align: center;
    font-size: 200%;
    font-weight: 2000;
    font-style: italic;
    position: relative;
    box-shadow: 0 0 0.5rem rgb(213, 211, 211);
    padding: 0.3rem;


}

    
main
{


    .city
    {

        text-align: center;
        padding-top: 20px;
        background-color: rgb(232, 232, 232);

        & i
        {
            font-size: 130%;
            padding-left: 27px;
            padding-bottom: 2%;  
        }


        & input
        {
            border: none;
            font-size: medium;
            background-color: rgb(232, 232, 232);
            padding-left: 7%;
          
        }
    }

    .reserv 
    {
        text-align: center;
        background-color: rgb(244, 244, 244);
        padding-top: 2%;
        padding-bottom: 2%;

        & h2
        {
            margin: 0;
        }

        & .explore 
        {
            font-size: 130%;
            background: explore-gradient#9356DC;
            border-radius: 49px;
            height: 45px;
            background: -webkit-linear-gradient(180deg, #ff79da, #9356dc);
            width: 85%;

            & a 
            {
                text-decoration: none;
                color: white;
            }
            

        }
    }

    .btnfonct
    {   

        display: grid;
        place-items: center;


        & .one, .two, .three
        {
            display: flex;
            background-color: #f1f1f1;
            padding: 1%;
            margin-bottom: 7%;
            border: solid 2px #F2F2F2;
            border-radius: 49px;
            font-weight: bold;
            width: 70%;
            height: 45%;
            justify-content: space-around;
           
            & i 
            {
                margin-left: 5%;
            }

            & .number
            {
                background-color: #9356DC;
                border: 0.2rem solid #9356DC;
                border-radius: 3rem;
                width: 7%;
                display: grid;
                place-items: center;
                color: white;
                position: absolute;
                padding: 0.1%;
                margin: -1% 0 0 -60%;
                
            }

            &:hover 
            {
                background-color: #be98ec;
            }
        }
        

    }



    #restaurants
    {
        

        & .row1

        { 
            margin-left: 5%;
            height: 50%;

            .card
            {
                
                width: 98%;
                height: 275px;
                background-color: white;
                border-radius: 9%;
                margin-right: 10%;
                box-shadow: 0px 0px 13px 2px #80808069;
                margin-bottom: 7%;

                & a 
                {
                    text-decoration: none;
                    color: black;
                    font-size: 13px;
                

                    & .badge 
                    {
                        background-color: #99E2D0;
                        color: black;
                        padding: 4px 8px;
                        text-align: center;
                        border-radius: 5px;
                        position: absolute;
                        margin-left: 31%;
                        margin-top: 1%;
                        
                
                    }
            

                    & .img
                    {
                        width: 100%;
                        height: 73%;
                        border-radius: 18px 18px 0 0;
                        object-fit: cover;
                    }

                    & .textimg
                    {
                        display: flex;

                            & .content
                            {
                                
                                    margin-left: 5%;
                                    width: 86.5%;
                                    font-size: 13px;

                            
                                    & h2 
                                    {
                                        margin: 0;
                                        padding: none;
                                
                                        
                                    }

                            }

                            & .cardh
                            {

                        

                                & .iconh 
                                {
                                    font-size: 20px;
                                    margin-top: 5%;

                                
                                }

                                & .active
                                {
                                    background: -webkit-linear-gradient(180deg, #ff79da, #9356dc);
                                    position: absolute;
                                    opacity: 0;
                                    bottom: 18px;
                                    height: 21px;
                                    width: 17px;
                

                                    &:hover
                                    {
                                        
                                        opacity: 1;
                                    }
                                
                                }

                            }

                     }

                    

                }

   
            }

        }



        & .row2
        {

                margin-left: 5%;
                height: 50%;
    
                .card
                {
                    
                    width: 98%;
                    height: 275px;
                    background-color: white;
                    border-radius: 9%;
                    margin-right: 9%;
                    box-shadow: 0px 0px 13px 2px #80808069;
                    margin-bottom: 7%;
    
                    & a 
                    {
                        text-decoration: none;
                        color: black;
                        font-size: 13px;
                        
                    
    
                        & .badge 
                        {
                            background-color: #99E2D0;
                            color: black;
                            padding: 4px 8px;
                            text-align: center;
                            border-radius: 5px;
                            
                    
                        }
                
    
                        & .img
                        {
                            width: 100%;
                            height: 73%;
                            border-radius: 18px 18px 0 0;
                            object-fit: cover;
                        }
    
                        
                        & .textimg
                        {
                            display: flex;
    
                                & .content
                                {
                                    
                                        margin-left: 5%;
                                        width: 86.5%;
                                        font-size: 13px;
    
                                        
                                        & h2 
                                        {
                                            margin: 0;
                                            padding: none;
                                    
                                            
                                        }
    
                                }
    
                                & .iconh 
                                {
                                    font-size: 20px;
                                    margin-top: 5%;
                                }
    
                         }
    
                        
    
                    }
    
       
                }
    
        }

        

    }
}


footer
{
    background-color: rgb(81, 80, 80);
    color: white;
    width: 100%;

        h1 
        {
            font-family:"shrikhand",cursive;
            font-size: 30px;
        }

        .finpage
        {
            
            justify-content: space-between;
            width: 70%;
        }







}


@media screen and (max-width: 992px) and (min-width: 768px)
{
    
main
{
.fonctionnement
{
  & .btnfonct
  {
    

    & .one, .two, .three

    {     display: flex;
        background-color: #f1f1f1;
        padding: 1%;
        margin-bottom: 7%;
        border: solid 2px #F2F2F2;
        border-radius: 49px;
        font-weight: bold;
        width: 39%;
        height: 25%;
        justify-content: space-around;
        
        & .number
        {

            margin: -3.5% 0 0 1%;
            padding: 0.5%;
            width: 3%;
            border-radius: 7rem;
            margin: -4% 0 13% 2%;
        }
    }


  }
    


}


    #restaurants
    {
        

        & .row1

        { 
           
            display: flex;
           

        }



        & .row2
        {

               
                display: flex;
   
    
        }

        

    }


}


   
}


    
@media screen and (min-width:992px) 

{

main 
{

    .city
    {


        & i
        {
            
        }

        & input
        {
            padding-left: 2%;
            font-size: 20px;
            padding-top: 1%;
        }



    }

    .reserv 
    {
        & .explore
        {
            width: 27%;
        }
    }

    .fonctionnement 
    {
        & h1 
        {
            margin-left: 2%;
        }

        & .btnfonct
        {   
            display: flex;

            & .one, .two, .three
            {   

                margin-left: 2%;
               

                & .number
                {
                    margin: -2% 0 0 1%;
                    width: 3%;
                }
             
            }



        }
    }

    #restaurants 
    {


        & .row1
        {
            display: flex;
       

            & .card
            {
                height: 460px;
            }

            & .textimg
            {
               
                & .content
                {
                    font-size: 19px;
                    margin-top: 2%;
                }
            }
        

        }

        & .row2
        {
            display: flex;

            
            & .card
            {
                height: 460px;
            }

            & .textimg
            {
               
                & .content
                {
                    font-size: 19px;
                    margin-top: 2%;
                }
            }




        }









        }

    }

   
}










