html {
  font-family: "Roboto", sans-serif, Arial, "Trebuchet MS", "Comic Sans MS";
}

body {
  margin: 0 0 0 0;
}
body .loading {
  position: fixed;
  animation: timeout 3s ease-in-out;
  animation-fill-mode: forwards;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 0.9;
  display: grid;
  place-items: center;
  -webkit-animation-fill-mode: forwards;
}
body .loading::before {
  content: "";
  width: 264px;
  height: 275px;
  border: 10px solid transparent;
  border-top-color: #99E2D0;
  border-radius: 240px;
  border-right-color: #FF79DA;
  border-bottom-color: #be98ec;
  animation: loa 3s linear infinite;
}
@keyframes loa {
  to {
    transform: rotate(1turn);
  }
}
@keyframes timeout {
  0% {
    opacity: 1;
  }
  100% {
    visibility: hidden;
    opacity: 0;
    z-index: -1;
  }
}
body header {
  text-align: center;
  position: relative;
  box-shadow: 0 0 0.5rem rgb(213, 211, 211);
  padding: 0.3rem;
}
body header h1 {
  font-family: "Shrikhand", sans-serif, Arial, "Trebuchet MS";
  font-size: 3rem;
}
body main .form {
  box-shadow: 0px -3px rgba(164, 163, 163, 0.46);
}
body main .city {
  background-color: rgb(232, 232, 232);
  display: flex;
  justify-content: center;
  height: 50px;
}
body main .city i {
  font-size: 92%;
  display: grid;
  place-items: center;
  color: #545353;
}
body main .city input {
  border: none;
  font-size: medium;
  background-color: rgb(232, 232, 232);
  display: grid;
  place-items: center;
  font-weight: bold;
  color: #545353;
  margin-left: 25px;
  width: 124px;
}
body main .reserv {
  display: grid;
  place-items: center;
  background-color: rgb(244, 244, 244);
  padding-top: 2%;
  padding-bottom: 55px;
}
body main .reserv h2 {
  text-align: center;
  margin-bottom: 0px;
  margin-top: 32px;
}
body main .reserv .soustitre {
  text-align: center;
  margin-bottom: 28px;
}
body main .reserv .explore {
  font-size: 15px;
  border-radius: 49px;
  height: 50px;
  background: -webkit-linear-gradient(180deg, #ff79da, #9356dc);
  width: 200px;
  border: none;
  display: grid;
  place-items: center;
  box-shadow: -1px 1px 7px 1px rgba(128, 128, 128, 0.4509803922);
}
body main .reserv .explore a {
  text-decoration: none;
  color: white;
}
body main .fonct {
  margin-left: 4%;
}
body main .btnfonct {
  display: grid;
  place-items: center;
  padding: 0;
}
body main .btnfonct .one, body main .btnfonct .two, body main .btnfonct .three {
  display: flex;
  background-color: #f7f7f7;
  border-radius: 21px;
  font-weight: bold;
  box-shadow: -2px -1px 9px 2px rgba(208, 208, 208, 0.41);
  width: 87%;
  justify-content: space-evenly;
  margin-bottom: 21px;
  height: 38px;
  padding-top: 17px;
  font-size: 15px;
  padding-right: 3px;
  margin-left: 31px;
  margin-right: 14px;
}
body main .btnfonct .one i, body main .btnfonct .two i, body main .btnfonct .three i {
  margin-left: 5%;
  color: grey;
}
body main .btnfonct .one i:hover, body main .btnfonct .two i:hover, body main .btnfonct .three i:hover {
  color: #8e31ff;
}
body main .btnfonct .one .number, body main .btnfonct .two .number, body main .btnfonct .three .number {
  background-color: #9356DC;
  border: 0.2rem solid #9356DC;
  border-radius: 47%;
  width: 20px;
  display: grid;
  place-items: center;
  color: white;
  position: absolute;
  margin: -0.8% 13% 0 -72%;
}
body main .btnfonct .one:hover, body main .btnfonct .two:hover, body main .btnfonct .three:hover {
  background-color: rgba(183, 150, 233, 0.1333333333);
}
body main .btnfonct .one .texticon, body main .btnfonct .two .texticon, body main .btnfonct .three .texticon {
  display: flex;
  justify-content: space-around;
  width: 70%;
}
body main #restaurants {
  background-color: rgb(244, 244, 244);
}
body main #restaurants .resto {
  margin-left: 4%;
  padding-top: 3%;
}
body main #restaurants .row1 {
  margin-left: 4%;
  height: 50%;
  margin-right: 1%;
  padding-top: 4%;
}
body main #restaurants .row1 .card {
  width: 98%;
  height: 287px;
  background-color: white;
  border-radius: 20px;
  margin-right: 10%;
  box-shadow: 0px 0px 13px 2px rgba(128, 128, 128, 0.4117647059);
  margin-bottom: 7%;
  padding-bottom: 1px;
}
body main #restaurants .row1 .card a {
  text-decoration: none;
  color: black;
  font-size: 23px;
}
body main #restaurants .row1 .card a .badge {
  position: absolute;
  background-color: #99E2D0;
  color: rgb(41, 165, 133);
  font-weight: bold;
  width: 20%;
  padding: 3px 9px;
  text-align: center;
  border-radius: 2px;
  margin-top: 3%;
  margin-left: 63%;
  font-size: 17px;
  height: 23px;
  padding-top: 5px;
}
body main #restaurants .row1 .card a .img {
  width: 100%;
  height: 73%;
  border-radius: 18px 18px 0 0;
  object-fit: cover;
}
body main #restaurants .row1 .card a .textimg {
  display: flex;
}
body main #restaurants .row1 .card a .textimg .content {
  margin-left: 5%;
  width: 86.5%;
  font-size: 13px;
  margin-top: 9px;
}
body main #restaurants .row1 .card a .textimg .content h2 {
  margin: 0;
  padding: 0;
}
body main #restaurants .row1 .card a .textimg .content p {
  font-size: 19px;
  margin-top: 5px;
}
body main #restaurants .row1 .card a .textimg .cardh {
  cursor: pointer;
  width: 57px;
  font-size: 25px;
  height: 22px;
  margin-top: 16px;
}
body main #restaurants .row1 .card a .textimg .cardh i {
  position: absolute;
}
body main #restaurants .row1 .card a .textimg .cardh .active {
  background-color: #9356DC;
  color: transparent;
  opacity: 0;
  background-image: linear-gradient(#FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
}
body main #restaurants .row1 .card a .textimg .cardh:hover .iconh {
  opacity: 0;
}
body main #restaurants .row1 .card a .textimg .cardh:hover .active {
  opacity: 1;
}
body main #restaurants .row2 {
  margin-left: 4%;
  height: 50%;
  margin-right: 1%;
  padding-bottom: 8%;
}
body main #restaurants .row2 .card {
  width: 98%;
  height: 287px;
  background-color: white;
  border-radius: 20px;
  margin-right: 9%;
  box-shadow: 0px 0px 13px 2px rgba(128, 128, 128, 0.4117647059);
  margin-bottom: 7%;
  padding-bottom: 1px;
}
body main #restaurants .row2 .card a {
  text-decoration: none;
  color: black;
  font-size: 13px;
}
body main #restaurants .row2 .card a .badge {
  position: absolute;
  background-color: #99E2D0;
  color: rgb(59, 145, 59);
  font-weight: bold;
  width: 18%;
  padding: 4px 8px;
  text-align: center;
  border-radius: 2px;
  margin-top: 3%;
  right: 10%;
}
body main #restaurants .row2 .card a .img {
  width: 100%;
  height: 73%;
  border-radius: 18px 18px 0 0;
  object-fit: cover;
}
body main #restaurants .row2 .card a .textimg {
  display: flex;
}
body main #restaurants .row2 .card a .textimg .content {
  margin-left: 5%;
  width: 86.5%;
  font-size: 13px;
  margin-top: 9px;
}
body main #restaurants .row2 .card a .textimg .content h2 {
  margin: 0;
  padding: 0;
}
body main #restaurants .row2 .card a .textimg .content p {
  font-size: 18px;
  margin-top: 5px;
}
body main #restaurants .row2 .card a .textimg .cardh {
  cursor: pointer;
  width: 57px;
  font-size: 25px;
  height: 22px;
  margin-top: 16px;
}
body main #restaurants .row2 .card a .textimg .cardh i {
  position: absolute;
  font-size: 25px;
}
body main #restaurants .row2 .card a .textimg .cardh .active {
  background-color: #9356DC;
  color: transparent;
  opacity: 0;
  background-image: linear-gradient(#FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
}
body main #restaurants .row2 .card a .textimg .cardh:hover .iconh {
  opacity: 0;
}
body main #restaurants .row2 .card a .textimg .cardh:hover .active {
  opacity: 1;
}

footer {
  background-color: rgb(81, 80, 80);
  color: white;
  width: 100%;
  padding-top: 5%;
  padding-bottom: 5%;
}
footer h1 {
  font-family: "Shrikhand", sans-serif, Arial, "Trebuchet MS";
  font-size: 1.5rem;
  margin: 0 0 0 5%;
  font-weight: 100;
}
footer .finpage {
  justify-content: space-between;
  width: 80%;
  margin-left: 2%;
}
footer .finpage .iconf {
  display: flex;
}
footer .finpage .iconf .fas {
  margin-left: 13px;
  margin-top: 0;
}
footer .finpage .iconf .proposer {
  margin-bottom: 5px;
  margin-left: 14px;
  margin-top: 0;
}
footer .finpage .iconf .partenaire {
  margin-bottom: 5px;
  margin-left: 7px;
  margin-top: 0;
}
footer .finpage .legal {
  margin-left: 12px;
}
footer .finpage .legal p {
  margin: 0;
}
footer .finpage .legal a {
  text-decoration: none;
}
footer .finpage .legal a .textp, footer .finpage .legal a p {
  color: white;
  text-decoration: none;
  margin-bottom: 0;
  margin-top: 9px;
}

@media screen and (max-width: 992px) and (min-width: 768px) {
  body main .fonctionnement .btnfonct .one, body main .fonctionnement .btnfonct .two, body main .fonctionnement .btnfonct .three {
    display: flex;
    background-color: #f1f1f1;
    padding: 1%;
    margin-bottom: 7%;
    border: solid 2px #F2F2F2;
    border-radius: 49px;
    font-weight: bold;
    width: 39%;
    height: 25%;
    justify-content: space-around;
  }
  body main .fonctionnement .btnfonct .one .number, body main .fonctionnement .btnfonct .two .number, body main .fonctionnement .btnfonct .three .number {
    margin: -3.5% 0 0 1%;
    padding: 0.5%;
    width: 3%;
    border-radius: 7rem;
    margin: -4% 0 13% 2%;
  }
  body main #restaurants .row1 {
    display: flex;
    justify-content: space-between;
    margin-left: 9%;
    margin-right: 0;
  }
  body main #restaurants .row1 .card a .badge {
    margin-left: 22%;
    width: 10%;
  }
  body main #restaurants .row2 {
    display: flex;
    justify-content: space-between;
    margin-left: 9%;
    margin-right: 0;
  }
  body main #restaurants .row2 .card a .badge {
    width: 10%;
  }
  body footer .finpage {
    margin-left: 3%;
  }
}
@media screen and (min-width: 992px) {
  body main .city i {
    font-size: 19px;
    color: #464444;
  }
  body main .city input {
    padding-left: 2%;
    font-size: 20px;
    padding-top: 1%;
    width: 150px;
  }
  body main .fonctionnement h1 {
    margin-left: 2%;
  }
  body main .fonctionnement .btnfonct {
    display: flex;
    margin-right: 5%;
    justify-content: space-evenly;
  }
  body main .fonctionnement .btnfonct .one, body main .fonctionnement .btnfonct .two, body main .fonctionnement .btnfonct .three {
    margin-left: 2%;
    width: 260px;
    height: 36px;
    border-radius: 27px;
  }
  body main .fonctionnement .btnfonct .one .number, body main .fonctionnement .btnfonct .two .number, body main .fonctionnement .btnfonct .three .number {
    margin: -35px 0 0 10px;
    width: 2%;
    border-radius: 30px;
  }
  body main #restaurants .row1 {
    display: flex;
    justify-content: space-between;
    margin-left: 9%;
    margin-right: 0;
  }
  body main #restaurants .row1 .card {
    height: 360px;
  }
  body main #restaurants .row1 .card a .badge {
    margin-left: 23%;
    width: 9%;
    margin-top: 2%;
  }
  body main #restaurants .row1 .card .textimg .content {
    font-size: 19px;
    margin-top: 2%;
  }
  body main #restaurants .row1 .card .textimg .content h2 {
    font-size: 25px;
  }
  body main #restaurants .row2 {
    display: flex;
    justify-content: space-between;
    margin-left: 9%;
    margin-right: 0;
  }
  body main #restaurants .row2 .card {
    height: 360px;
  }
  body main #restaurants .row2 .textimg .content {
    font-size: 19px;
    margin-top: 2%;
  }
  body footer {
    font-size: 20px;
  }
  body footer .finpage {
    margin-left: 4%;
  }
}
@media screen and (max-width: 314px) {
  body {
    margin: 0 0 0 0;
  }
  body .loading {
    position: fixed;
    animation: timeout 3s ease-in-out;
    animation-fill-mode: forwards;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0.9;
    display: grid;
    place-items: center;
    -webkit-animation-fill-mode: forwards;
  }
  body .loading::before {
    content: "";
    width: 50px;
    height: 50px;
    border: 10px solid transparent;
    border-top-color: #99E2D0;
    border-radius: 240px;
    border-right-color: #FF79DA;
    border-bottom-color: #be98ec;
    animation: loa 3s linear infinite;
  }
  @keyframes loa {
    to {
      transform: rotate(1turn);
    }
  }
  @keyframes timeout {
    0% {
      opacity: 1;
    }
    100% {
      visibility: hidden;
      opacity: 0;
      z-index: -1;
    }
  }
  body header {
    font-family: "Shrikhand", sans-serif, Arial, "Trebuchet MS";
    text-align: center;
    font-size: 25px;
    font-weight: bolder;
    font-style: italic;
    position: relative;
    box-shadow: 0 0 0.5rem rgb(213, 211, 211);
    padding: 0.3rem;
  }
  body header h1 {
    font-size: 19px;
  }
  body main .city {
    text-align: center;
    padding-top: 2px;
    background-color: rgb(232, 232, 232);
    display: flex;
    justify-content: flex-end;
  }
  body main .city i {
    font-size: 15px;
    padding-bottom: 2%;
    margin-left: 20%;
  }
  body main .city input {
    border: none;
    background-color: rgb(232, 232, 232);
    font-size: 12px;
    margin-left: 0;
  }
  body main .reserv {
    text-align: center;
    background-color: rgb(244, 244, 244);
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 12px;
  }
  body main .reserv h2 {
    margin: 0;
  }
  body main .reserv .explore {
    font-size: 130%;
    border-radius: 49px;
    height: 45px;
    background: -webkit-linear-gradient(180deg, #ff79da, #9356dc);
    width: 85%;
    border: none;
    display: grid;
    place-items: center;
  }
  body main .reserv .explore a {
    text-decoration: none;
    color: white;
    font-size: 12px;
  }
  body main .fonct {
    margin-left: 4%;
    font-size: 15px;
  }
  body main .btnfonct {
    display: grid;
    place-items: center;
  }
  body main .btnfonct .one, body main .btnfonct .two, body main .btnfonct .three {
    display: flex;
    background-color: #f1f1f1;
    padding: 1%;
    margin-bottom: 7%;
    border: solid 2px #F2F2F2;
    border-radius: 49px;
    font-weight: bold;
    width: 70%;
    height: 45%;
    justify-content: space-around;
    font-size: 12px;
  }
  body main .btnfonct .one i, body main .btnfonct .two i, body main .btnfonct .three i {
    margin-left: 5%;
    color: grey;
  }
  body main .btnfonct .one i:hover, body main .btnfonct .two i:hover, body main .btnfonct .three i:hover {
    color: #8e31ff;
  }
  body main .btnfonct .one .number, body main .btnfonct .two .number, body main .btnfonct .three .number {
    background-color: #9356DC;
    border: 0.2rem solid #9356DC;
    border-radius: 47%;
    width: 4%;
    display: grid;
    place-items: center;
    color: white;
    position: absolute;
    padding: 0.1%;
    margin: -2% 0 0 -79%;
  }
  body main .btnfonct .one:hover, body main .btnfonct .two:hover, body main .btnfonct .three:hover {
    background-color: #d1b7f0;
  }
  body main .btnfonct .one .texticon, body main .btnfonct .two .texticon, body main .btnfonct .three .texticon {
    width: 100%;
    font-size: 10.5px;
  }
  body main #restaurants {
    background-color: rgb(217, 216, 216);
  }
  body main #restaurants .resto {
    margin-left: 0;
    padding-top: 3%;
    font-size: 20px;
  }
  body main #restaurants .row1 {
    margin-left: 4%;
    height: 50%;
    margin-right: 4%;
    padding-top: 4%;
  }
  body main #restaurants .row1 .card {
    width: 98%;
    height: 287px;
    background-color: white;
    border-radius: 18px;
    margin-right: 10%;
    box-shadow: 0px 0px 13px 2px rgba(128, 128, 128, 0.4117647059);
    margin-bottom: 7%;
    padding-bottom: 1px;
  }
  body main #restaurants .row1 .card a {
    text-decoration: none;
    color: black;
    font-size: 23px;
  }
  body main #restaurants .row1 .card a .badge {
    position: absolute;
    background-color: #99E2D0;
    color: rgb(59, 145, 59);
    font-weight: bold;
    width: 31%;
    padding: 3px 12px;
    text-align: center;
    border-radius: 2px;
    margin-top: 3%;
    margin-left: 37%;
    font-size: 15px;
  }
  body main #restaurants .row1 .card a .img {
    width: 100%;
    height: 73%;
    border-radius: 18px 18px 0 0;
    object-fit: cover;
  }
  body main #restaurants .row1 .card a .textimg {
    display: flex;
    margin-right: 5%;
  }
  body main #restaurants .row1 .card a .textimg .content {
    margin-left: 5%;
    width: 86.5%;
    font-size: 13px;
  }
  body main #restaurants .row1 .card a .textimg .content h2 {
    margin: 0;
    padding: 0;
    font-size: 16px;
  }
  body main #restaurants .row1 .card a .textimg .content p {
    font-size: 15px;
    margin-top: 5px;
    font-size: 11px;
  }
  body main #restaurants .row1 .card a .textimg .cardh {
    cursor: pointer;
    width: 17px;
    height: 21px;
    margin-right: 8%;
  }
  body main #restaurants .row1 .card a .textimg .cardh i {
    position: absolute;
    margin-top: 2px;
    font-size: 18px;
  }
  body main #restaurants .row1 .card a .textimg .cardh .active {
    background-color: #9356DC;
    color: transparent;
    opacity: 0;
    background-image: linear-gradient(#FF79DA, #9356DC);
    background-clip: text;
    -webkit-background-clip: text;
  }
  body main #restaurants .row1 .card a .textimg .cardh:hover .iconh {
    opacity: 0;
  }
  body main #restaurants .row1 .card a .textimg .cardh:hover .active {
    opacity: 1;
  }
  body main #restaurants .row2 {
    margin-left: 4%;
    height: 50%;
    margin-right: 4%;
    padding-bottom: 8%;
  }
  body main #restaurants .row2 .card {
    width: 98%;
    height: 287px;
    background-color: white;
    border-radius: 18px;
    margin-right: 9%;
    box-shadow: 0px 0px 13px 2px rgba(128, 128, 128, 0.4117647059);
    margin-bottom: 7%;
    padding-bottom: 1px;
  }
  body main #restaurants .row2 .card a {
    text-decoration: none;
    color: black;
    font-size: 13px;
  }
  body main #restaurants .row2 .card a .img {
    width: 100%;
    height: 73%;
    border-radius: 18px 18px 0 0;
    object-fit: cover;
  }
  body main #restaurants .row2 .card a .textimg {
    display: flex;
  }
  body main #restaurants .row2 .card a .textimg .content {
    margin-left: 5%;
    width: 86.5%;
  }
  body main #restaurants .row2 .card a .textimg .content h2 {
    margin: 0;
    padding: 0;
    font-size: 16px;
  }
  body main #restaurants .row2 .card a .textimg .content p {
    font-size: 15px;
    margin-top: 5px;
    font-size: 11px;
  }
  body main #restaurants .row2 .card a .textimg .cardh {
    cursor: pointer;
    width: 17px;
    height: 21px;
    margin-right: 8%;
  }
  body main #restaurants .row2 .card a .textimg .cardh i {
    position: absolute;
    margin-top: 2px;
    font-size: 18px;
  }
  body main #restaurants .row2 .card a .textimg .cardh .active {
    background-color: #9356DC;
    color: transparent;
    opacity: 0;
    background-image: linear-gradient(#FF79DA, #9356DC);
    background-clip: text;
    -webkit-background-clip: text;
  }
  body main #restaurants .row2 .card a .textimg .cardh:hover .iconh {
    opacity: 0;
  }
  body main #restaurants .row2 .card a .textimg .cardh:hover .active {
    opacity: 1;
  }
  footer {
    background-color: rgb(81, 80, 80);
    color: white;
    width: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
  }
  footer h1 {
    font-family: "Shrikhand", sans-serif, Arial, "Trebuchet MS";
    font-size: 19px;
    margin: 0 0 0 5%;
  }
  footer .finpage {
    justify-content: space-between;
    width: 80%;
    margin-left: 2%;
  }
  footer .finpage .iconf {
    display: flex;
    width: 100%;
  }
  footer .finpage .iconf .fas {
    margin-left: 13px;
    margin-top: 0;
  }
  footer .finpage .iconf p {
    margin-top: 0;
    margin-bottom: 0;
  }
  footer .finpage .legal {
    margin-left: 5%;
  }
  footer .finpage .legal p {
    margin: 0;
  }
  footer .finpage .legal a {
    text-decoration: none;
  }
  footer .finpage .legal a .textp, footer .finpage .legal a p {
    color: white;
    text-decoration: none;
    margin-bottom: 0;
    margin-top: 6px;
  }
}

/*# sourceMappingURL=style.css.map */
